
  <div class="liste-complet">
      <p>{{ liste.titre }}</p>
      <p>{{ liste.sousTitre }}</p>
      <p>{{ liste.image }}</p>
      <p>{{ liste.description }}</p>
      <p>{{ liste.type }}</p>
      <p>{{ liste.date }}</p>
      <p>{{ liste.nbSauvegardes }}</p>



          <div class="liste-complet-chansons">
              <p>Chansons</p>
              @for (chanson of liste.chansons; track $index) {
                  <app-chansons [chanson]="chanson"></app-chansons>
              }
          </div>
  </div>

